.header-pog {
    display: flex;  
    gap: 50px;
    margin-top: 10rem;
    margin-bottom: 3rem;
}

.downheader-pog {
    display: flex;
    gap: 50px;
    margin-bottom: 10rem;
}

@media screen and (max-width: 1000px) {
    .header-pog, .downheader-pog {
        display: flex;
        flex-direction: column;
    }

    .header-pog > div > img, .downheader-pog > div > img {
        width: 70%;
    }
}