.player-container {
    margin-top: 10rem;
    margin-bottom: 50%;
}

.player-profile {
    display: flex;
    position: relative;
    gap: 10%;
    justify-content: center;
}

.player-image {
    width: 30%;
    position: relative;
}

.player-line {
    position: absolute;
    width: 13%;
    top: 75%;
    left: 47%;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.player-name {
    display: flex;
    gap: 10px;
}

.news {
    text-align: center;
    margin-bottom: 10rem;
}

.news > div {
    padding-bottom: 20px;
    font-size: 20px;
} 

.news > a > img {
    width: 100%;
}

.musicplayer-link  > a{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-bottom: 10rem;
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 800px) {
    .player-profile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    .player-line {
        top: 40%;
        left: 60%;
    }
    .player-image {
        width: 40%;
    }
}

